#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position: absolute;
    z-index: 2;
    top: 3vh;
    left:50vw;
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.formData label {
    color: #312E2E;
    font-size: 36px;
}

.formData {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: flex-start;
    margin-block: 0;
}

.formData label{
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
    padding: 0;

}

.formData input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    margin-bottom: 6px;
}

.formErrorFirst, .formErrorLast, .formErrorEmail, .formErrorMessage{
    display: none;
}

.inputError{
    border: #901C1C solid 2px;
}

.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding : 0 3em;
}

.photograph-header article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-weight: 300;
}

.photograph-header a{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
}

.photograph-header article h2 {
    color: #D3573C;
    font-weight: 100;
    font-size: 64px;
    margin-block-start: 0.5em;
    margin-block-end: 0.05em;
}

.bioPic {
    height: 200px;
    width: 200px;
    object-fit:cover;
    overflow: hidden;
    border-radius: 100%;
}

.p01, .p02{
    margin-block : 0;
}

.p01 {
    color:#901C1C;
    font-size:24px;
}
.p02 {
    font-size: 18px;
}


a{
    text-decoration: none;
}

.divMedia{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    margin-top: 70px;
    padding : 1vh 1vw;
    margin: 100px;
}

.bloc-pic{
    width: 350px;
    height: 350px;
    overflow: hidden;
    object-fit:cover;
}

.bloc-pic img, .bloc-pic video{
    height: 300px;
    width: 350px;
    object-fit:cover;
    object-position: top;
    border-radius: 5px;
    opacity: 1;
    transition: .3s;
}

.bloc-pic img:hover, .bloc-pic video:hover{
opacity: .8;
}

.span-pic {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #901C1C;
}
.span-pic h2{

    font-size: 20px;
    font-weight: 300;
    margin-block: 0;
}

.bottom-display{
    position: fixed;
    right:30px;
    bottom: 0;
    background-color: #DB8876;
    font-size: 24px;
    padding: 25px;
    border-radius: 5px 5px 0 0;
}
.bottom-display span{
    display: flex;
    flex-direction: row;
}
.bottom-display p{
    margin-block: 0;
    margin: 0 10px;
}

/* Trieur */

nav {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 58px;
  }
  
  nav span {
    margin-left: 100px;
    font-size: 18px;
  }
  
  .sort_menu_close {
    margin-left: 25px;
    display: flex;
  }
  
  .sort_menu_close button:hover,
  .sort_menu_close button:focus {
    background-color: #DB8876;
  }
  
  .sort_menu_close button {
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    background-color: #901C1C;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
  }
  
  .sort_menu_close i {
    background-color: #901C1C;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    color: white;
  }
  
  .sort_menu_close i:hover,
  .sort_menu_close:focus {
    background-color: #DB8876;
  }
  
  .sort_menu_open_display {
    position: relative;
    display: flex;
  }
  
  .sort_menu_open_hide {
    display: none;
  }
  
  .sort_menu_open_display ul {
    display: none;
    background-color: #901C1C;
    margin-left: -154px;
    padding-left: 0px;
    position: absolute;
    top: -38px;
    z-index: 1;
  }
  
  .sort_menu_open_display .filter {
    text-decoration: none;
    list-style-type: none;
    background-color: #901C1C;
    padding: 10px 42px 10px 10px;
  }
  
  .sort_menu_open_display .filter:hover,
  .sort_menu_open_display:focus {
    background-color: #DB8876;
  }
  
  .sort_menu_open_display #filter_1 {
    border-radius: 5px 5px 0px 0px;
  }
  
  .sort_menu_open_display #filter_1,
  #filter_2 {
    border-bottom: 2px solid white;
  }
  
  .sort_menu_open_display #filter_3 {
    border-radius: 0px 0px 5px 5px;
  }
  
  .sort_menu_open_display i {
    color: white;
    align-self: center;
    margin-right: -30px;
  }
  
  .sort_menu_open_display .filter_link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-right: 33px;
  }
  
